.Books-Section{
    padding-right: 30px;
   padding-left: 80px;
   padding-bottom: 20px;
}
.books img{
   width:170px;
   height: 250px;
   position: relative;
   padding-right:2%;
   box-shadow:0 0 16px rgb(0,0,0,0.5);
   margin:2px;
   cursor: pointer;

   /* display: inline-flex; */
    
   }
   .books-hover {
       width:170.5px;
       height: 250px;
      color:#fff;
      position:absolute;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 40px;
     padding-right: 20px;
      top:154.5px;
      bottom:0;
      right:0;
      left:81.5px;
      background-color:rgba(0,0,0,0.5);
       opacity:0;
       font-size: larger;
       cursor: pointer;
       transition: 0.2s;
    }

  .books:hover .books-hover{
      opacity:10;
  }
       
.category{
  font: 1em sans-serif;
  padding-bottom: 20px;
}